<header
    class="container d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 my-4">

    <a href="/" class="d-flex align-items-center col-md-4 mb-2 mb-md-0 text-dark text-decoration-none">
        <h1>Logo.</h1>
    </a>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
                class="nav-link mx-4 link-secondary"><i class="bi bi-calendar-check me-2"></i> Appuntamenti</a>
        </li>
        <li><a routerLink="/customers" routerLinkActive="active" class="nav-link mx-4 link-secondary"><i
                    class="bi bi-people me-2"></i>Anagrafica
                Clienti</a></li>
    </ul>

</header>